{% extends 'base.html.twig' %}

{% block title %}Progress Bars{% endblock %}

{% block body %}

    <nav-menu first_name="{{ app.user.firstName }}" last_name="{{ app.user.lastName }}"></nav-menu>

    <div class="container-fluid" style="padding-top: 2em;">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="text-center">Here you can see your progress for chosen Semester.</h1>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-sm-2"></div>

            {#Cards with progress #}
            <div class="col-sm-8">
                <div id="accordion">

                    {#First progress - 2nd semester#}
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    2nd Semester
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">

                                1st topic: <b>{{ field1 }}</b>
                                <br />

                                2nd topic: <b>{{ field2 }}</b>
                                <br />

                                3rd topic: <b>{{ field3 }}</b>
                                <br />

                                4th topic: <b>{{ field4 }}</b>
                                <br />

                                5th topic: <b>{{ field5 }}</b>
                                <br />

                                6th topic: <b>{{ field6 }}</b>
                                <br />

                                7th topic: <b>{{ field7 }}</b>
                                <br />

                                8th topic: <b>{{ field8 }}</b>
                                <br />

                                9th topic: <b>{{ field9 }}</b>
                                <br />

                                10th topic: <b>{{ field10 }}</b>
                                <br />

                            </div>
                        </div>
                    </div>
                        {#End of progress - 2nd semester#}

                        {#Second progress - 4th semester#}
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    4th Semester
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">

                                1st topic: <b>{{ field1s4 }}</b>
                                <br />

                                2nd topic: <b>{{ field2s4 }}</b>
                                <br />

                                3rd topic: <b>{{ field3s4 }}</b>
                                <br />

                                4th topic: <b>{{ field4s4 }}</b>
                                <br />

                                5th topic: <b>{{ field5s4 }}</b>
                                <br />

                                6th topic: <b>{{ field6s4 }}</b>
                                <br />

                                7th topic: <b>{{ field7s4 }}</b>
                                <br />

                                8th topic: <b>{{ field8s4 }}</b>
                                <br />

                                9th topic: <b>{{ field9s4 }}</b>
                                <br />

                                10th topic: <b>{{ field10s4 }}</b>
                                <br />

                            </div>
                        </div>
                    </div>
                        {#End of progress - 4th semester#}

                        {#Third progress - 6th semester#}
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        6th Semester
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body">

                                    1st topic: <b>{{ field1s6 }}</b>
                                    <br />

                                    2nd topic: <b>{{ field2s6 }}</b>
                                    <br />

                                    3rd topic: <b>{{ field3s6 }}</b>
                                    <br />

                                    4th topic: <b>{{ field4s6 }}</b>
                                    <br />

                                    5th topic: <b>{{ field5s6 }}</b>
                                    <br />

                                    6th topic: <b>{{ field6s6 }}</b>
                                    <br />

                                    7th topic: <b>{{ field7s6 }}</b>
                                    <br />

                                    8th topic: <b>{{ field8s6 }}</b>
                                    <br />

                                    9th topic: <b>{{ field9s6 }}</b>
                                    <br />

                                    10th topic: <b>{{ field10s6 }}</b>
                                    <br />

                                </div>
                            </div>
                        </div>
                        <br />
                        {#End of progress - 6th semester#}

                        {#Start progress - General one#}
                        <div class="card">
                            <div class="card-header" id="headingFour">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        General Sum up
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                <div class="card-body">

                                    <b>1st topic: {{ field1gen }}/100</b>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: {{ field1gen }}%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <br />

                                    <b>2nd topic: {{ field2gen }}/100</b>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: {{ field2gen }}%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <br />

                                    <b>3rd topic: {{ field3gen }}/100</b>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: {{ field3gen }}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <br />

                                    <b>4th topic: {{ field4gen }}/100</b>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: {{ field4gen }}%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <br />

                                    <b>5th topic: {{ field5gen }}/100</b>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: {{ field5gen }}%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <br />

                                    <b>6th topic: {{ field6gen }}/100</b>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: {{ field6gen }}%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <br />

                                    <b>7th topic: {{ field7gen }}/100</b>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: {{ field7gen }}%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <br />

                                    <b>8th topic: {{ field8gen }}/100</b>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: {{ field8gen }}%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <br />

                                    <b>9th topic: {{ field9gen }}/100</b>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: {{ field9gen }}%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <br />

                                    <b>10th topic: {{ field10gen }}/100</b>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: {{ field10gen }}%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <br />


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
